.header {
    padding: 64px 160px;
    background-color: #512689;
    color: #F8F8F8;
    position: relative;
}

.header__wrapper {
    max-width: 846px;
    min-width: 343px;
    margin: 0 auto;
    text-align: center;
}

.header__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 117%;
    margin: 0;
    margin-bottom: 16px;
}

.header__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 117%;
}

.header__logout-btn {
    display: block;
    position: absolute;
    top: 31px;
    right: 80px;
    padding: 8px 16px;
    border: 1px solid #F8F8F8;
    background-color: transparent;
    color: #F8F8F8;
    border-radius: 8px;
    transition: opacity .3s;
    line-height: 117%;
}

.header__logout-btn:hover {
    opacity: .7;
    cursor: pointer;
}

@media (max-width: 800px) {
    .header {
        padding: 64px 16px;
    }

    .header__wrapper {
        max-width: 500px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__subtitle {
        font-size: 16px;
    }

    .header__logout-btn {
        background: url("../../assets/icons/logout.svg") center no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;
        padding: 0;
        border: 0;
        border-radius: 0;
        color: transparent;
        top: 23px;
        right: 27px;
    }
}
